*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-image: url(land.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border-radius: 20px;
    width: 50%;
}

.container input{
    margin: auto;
    width: 100%;
    border-radius: 20px;
    height: 35px;
    margin-bottom: 30px;
    text-align: center;
}
.container h4{
    padding-top: 30px;
    /* margin-top: 100px; */
    margin-bottom: 5px;
    font-weight: bold;
    /* color: rgb(155, 195, 230); */
    

}
.container h6{
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(155, 195, 230);
    text-decoration: underline;
    
}
.container p{
    border-radius: 40px;
    width: 97%;
    text-align: center;
    /* border: 1px solid gray; */
    background-color: rgb(184, 179, 179);
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: black;

}
.container button{
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: transparent;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid rgb(227, 227, 215);
    color: rgb(155, 195, 230);


}
